samples/brainnlu.json
[{"id":"3a9a1a81.7f18d6","type":"brainnlu","z":"8e4e17ac.fd45d8","name":"","x":590,"y":300,"wires":[["c1f1e33d.59751"]]},{"id":"a70d927.56a537","type":"function","z":"8e4e17ac.fd45d8","name":"","func":"msg.documents =[\n    {\n        \"utterance\":\"Bonjour\",\n        \"intent\":\"greet\"\n    },\n    {\n        \"utterance\":\"bonne nuit\",\n        \"intent\":\"greet\"\n    },\n    {\n        \"utterance\":\"Bonsoir\",\n        \"intent\":\"greet\"\n    },\n    {\n        \"utterance\":\"J'ai perdu mes clés\",\n        \"intent\": \"keys\"\n    },\n    {\n        \"utterance\":\"Je ne trouve pas mes clés\",\n        \"intent\": \"keys\"\n    },\n    {\n        \"utterance\":\"Je ne me souviens pas où sont mes clés\",\n        \"intent\": \"keys\"\n    }\n    ];\nmsg.payload = \"où sont mes clés\";\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":360,"wires":[["3a9a1a81.7f18d6"]]},{"id":"550ca6cc.77ed88","type":"inject","z":"8e4e17ac.fd45d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":300,"wires":[["a70d927.56a537"]]},{"id":"c1f1e33d.59751","type":"debug","z":"8e4e17ac.fd45d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":780,"y":340,"wires":[]}]
