samples/extiryextraction.json
[{"id":"67811967.4aefe8","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"4cc1b50a.ee901c","type":"entityextraction","z":"67811967.4aefe8","name":"","x":1080,"y":500,"wires":[["acda9c85.ba59c"]]},{"id":"5ca628f0.707c38","type":"function","z":"67811967.4aefe8","name":"","func":"msg.payload = \"My email is something@somehost.com please write me\";\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":220,"wires":[["4cc1b50a.ee901c"]]},{"id":"b2cf5945.9ec9a8","type":"inject","z":"67811967.4aefe8","name":"Email Extraction","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":700,"y":180,"wires":[["5ca628f0.707c38"]]},{"id":"acda9c85.ba59c","type":"debug","z":"67811967.4aefe8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1290,"y":520,"wires":[]},{"id":"c3d9b7bb.d520f8","type":"function","z":"67811967.4aefe8","name":"","func":"msg.payload = \"My ip is 8.8.8.8\";\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":320,"wires":[["4cc1b50a.ee901c"]]},{"id":"155eaef5.a60641","type":"inject","z":"67811967.4aefe8","name":"IP Extraction","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":690,"y":300,"wires":[["c3d9b7bb.d520f8"]]},{"id":"942cea85.c30428","type":"function","z":"67811967.4aefe8","name":"","func":"msg.payload = \"Open source is great! #proudtobeaxa\";\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":380,"wires":[["4cc1b50a.ee901c"]]},{"id":"98a58834.167428","type":"inject","z":"67811967.4aefe8","name":"Hashtag Extraction","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":710,"y":380,"wires":[["942cea85.c30428"]]},{"id":"408e3498.ce125c","type":"function","z":"67811967.4aefe8","name":"","func":"msg.payload = \"So here is my number +1 541-754-3010 callme maybe\";\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":520,"wires":[["4cc1b50a.ee901c"]]},{"id":"42c1a136.92219","type":"inject","z":"67811967.4aefe8","name":"Phone Number Extraction","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":460,"wires":[["408e3498.ce125c"]]},{"id":"e3a7a7c3.ecbf08","type":"function","z":"67811967.4aefe8","name":"","func":"msg.payload = \"The url is https://something.com\";\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":640,"wires":[["4cc1b50a.ee901c"]]},{"id":"3a157f37.ac3d1","type":"inject","z":"67811967.4aefe8","name":"URL Extraction","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":700,"y":580,"wires":[["e3a7a7c3.ecbf08"]]},{"id":"6faf096c.cbcb88","type":"function","z":"67811967.4aefe8","name":"","func":"msg.payload = \"This is 12\";\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":740,"wires":[["4cc1b50a.ee901c"]]},{"id":"c980eb3.380c418","type":"inject","z":"67811967.4aefe8","name":"Number Extraction","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":710,"y":680,"wires":[["6faf096c.cbcb88"]]},{"id":"c36ac940.f89338","type":"function","z":"67811967.4aefe8","name":"","func":"msg.payload = \"He was 2nd\";\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":820,"wires":[["4cc1b50a.ee901c"]]},{"id":"bcefdae6.7e05d8","type":"inject","z":"67811967.4aefe8","name":"Ordinal Extraction","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":710,"y":780,"wires":[["c36ac940.f89338"]]},{"id":"7c70c008.6f67d","type":"function","z":"67811967.4aefe8","name":"","func":"msg.payload = \"68.2%\";\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":920,"wires":[["4cc1b50a.ee901c"]]},{"id":"fe95587c.15b038","type":"inject","z":"67811967.4aefe8","name":"Percentage Extraction","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":720,"y":880,"wires":[["7c70c008.6f67d"]]},{"id":"8643115.fb6c0f","type":"function","z":"67811967.4aefe8","name":"","func":"msg.payload = \"120km\";\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":1040,"wires":[["24730738.d08b28"]]},{"id":"e9f81a3e.281838","type":"inject","z":"67811967.4aefe8","name":"Dimension Extraction","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":720,"y":1000,"wires":[["8643115.fb6c0f"]]},{"id":"42894f46.e79fe","type":"function","z":"67811967.4aefe8","name":"","func":"msg.payload = \"This saga is ten years old\";\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":1120,"wires":[["24730738.d08b28"]]},{"id":"6e20018b.33e2b","type":"inject","z":"67811967.4aefe8","name":"Age Extraction","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":700,"y":1080,"wires":[["42894f46.e79fe"]]},{"id":"e1b02d9a.513a","type":"function","z":"67811967.4aefe8","name":"","func":"msg.payload = \"420 million finnish markka\";\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":1200,"wires":[["24730738.d08b28"]]},{"id":"9ee6e223.4e2ca","type":"inject","z":"67811967.4aefe8","name":"Currency Extraction","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":710,"y":1160,"wires":[["e1b02d9a.513a"]]},{"id":"a9611dac.c67a1","type":"function","z":"67811967.4aefe8","name":"","func":"msg.payload = \"28/10/2018\";\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":1280,"wires":[["24730738.d08b28"]]},{"id":"16e83a43.c8d406","type":"inject","z":"67811967.4aefe8","name":"Date Extraction","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":700,"y":1240,"wires":[["a9611dac.c67a1"]]},{"id":"24730738.d08b28","type":"entityextraction","z":"67811967.4aefe8","name":"","x":1100,"y":1160,"wires":[["fb5e4498.a9e908"]]},{"id":"f35f2983.94bc38","type":"function","z":"67811967.4aefe8","name":"","func":"msg.payload = \"It will take me 5 minutes\";\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":1380,"wires":[["24730738.d08b28"]]},{"id":"44539527.bb4cdc","type":"inject","z":"67811967.4aefe8","name":"Duration Extraction","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":710,"y":1340,"wires":[["f35f2983.94bc38"]]},{"id":"fb5e4498.a9e908","type":"debug","z":"67811967.4aefe8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1310,"y":1160,"wires":[]}]
