samples/language_guesser.json
[{"id":"810fb08d.e0218","type":"language_guesser","z":"8e4e17ac.fd45d8","name":"","x":670,"y":700,"wires":[["c582e17a.ce3cb"]]},{"id":"8b43f00d.5eeaa","type":"inject","z":"8e4e17ac.fd45d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":660,"wires":[["8d25950f.467b78"]]},{"id":"8d25950f.467b78","type":"function","z":"8e4e17ac.fd45d8","name":"","func":"msg.payload = \"When the night has come And the land is dark And the moon is the only light we see\";\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":720,"wires":[["810fb08d.e0218"]]},{"id":"c582e17a.ce3cb","type":"debug","z":"8e4e17ac.fd45d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":700,"wires":[]}]
