samples/nlpmanager.json
[{"id":"f88af252.7dba1","type":"function","z":"8e4e17ac.fd45d8","name":"","func":"msg.documents =[\n    {\n        \"locale\": \"en\",\n        \"utterance\":\"goodbye for now\",\n        \"intent\": \"greetings.bye\"\n    },\n    {\n        \"locale\": \"en\",\n        \"utterance\":\"bye bye take care\",\n        \"intent\": \"greetings.bye\"\n    },\n    {\n        \"locale\": \"en\",\n        \"utterance\":\"okay see you later\",\n        \"intent\": \"greetings.bye\"\n    },\n    {\n        \"locale\": \"en\",\n        \"utterance\":\"bye for now\",\n        \"intent\": \"greetings.bye\"\n    },\n    {\n        \"locale\": \"en\",\n        \"utterance\":\"i must go\",\n        \"intent\": \"greetings.bye\"\n    },\n    {\n        \"locale\": \"en\",\n        \"utterance\":\"hello\",\n        \"intent\": \"greetings.hello\"\n    },\n    {\n        \"locale\": \"en\",\n        \"utterance\":\"hi\",\n        \"intent\": \"greetings.hello\"\n    },\n    {\n        \"locale\": \"en\",\n        \"utterance\":\"howdy\",\n        \"intent\": \"greetings.hello\"\n    }\n    ];\nmsg.answers = [\n    {\n        \"locale\": \"en\",\n        \"intent\": \"greetings.bye\",\n        \"answer\": \"Till next time\"\n    },\n    {\n        \"locale\": \"en\",\n        \"intent\": \"greeting.bye\",\n        \"answer\": \"see you soon!\"\n    },\n        {\n        \"locale\": \"en\",\n        \"intent\": \"greetings.hello\",\n        \"answer\": \"Hey there!\"\n    },\n    {\n        \"locale\": \"en\",\n        \"intent\": \"greetings.hello\",\n        \"answer\": \"Greetings!\"\n    }\n    ];\nmsg.locales = [\"en\"];\nmsg.payload ={\n    \"locale\": \"en\",\n    \"utterance\": \"I have to go\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":200,"wires":[["a3da0402.0b5b78"]]},{"id":"7a1135c4.9200cc","type":"inject","z":"8e4e17ac.fd45d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":160,"wires":[["f88af252.7dba1"]]},{"id":"d91cfab7.35dbe8","type":"debug","z":"8e4e17ac.fd45d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":200,"wires":[]},{"id":"a3da0402.0b5b78","type":"nlpmanager","z":"8e4e17ac.fd45d8","name":"","x":600,"y":160,"wires":[["d91cfab7.35dbe8"]]}]
