examples/qna_basic.json
[{"id":"6fa7a83c.4a4d38","type":"tab","label":"QnA Basic","disabled":false,"info":""},{"id":"97d44e68.8d352","type":"debug","z":"6fa7a83c.4a4d38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":280,"wires":[]},{"id":"c6319e24.aa6a4","type":"inject","z":"6fa7a83c.4a4d38","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"you are looking awesome","payloadType":"str","x":350,"y":200,"wires":[["1e2cbee0.3ac6f1"]]},{"id":"b7b161cc.f1812","type":"nlp","z":"6fa7a83c.4a4d38","utterance":"who are you","lang":"en","name":"","x":640,"y":120,"wires":[["97d44e68.8d352"]]},{"id":"1e2cbee0.3ac6f1","type":"nlp","z":"6fa7a83c.4a4d38","utterance":"","lang":"en","name":"","x":630,"y":200,"wires":[["97d44e68.8d352"]]},{"id":"b216ca37.646d08","type":"nlp","z":"6fa7a83c.4a4d38","utterance":"","lang":"en","name":"","x":630,"y":300,"wires":[["97d44e68.8d352"]]},{"id":"432075de.f18d8c","type":"inject","z":"6fa7a83c.4a4d38","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Where do you come from?","payloadType":"str","x":350,"y":300,"wires":[["b216ca37.646d08"]]},{"id":"39828792.2eff58","type":"nlp","z":"6fa7a83c.4a4d38","utterance":"","lang":"en","name":"","x":630,"y":400,"wires":[["97d44e68.8d352"]]},{"id":"7afe8c01.3d8794","type":"inject","z":"6fa7a83c.4a4d38","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hello","payloadType":"str","x":290,"y":400,"wires":[["39828792.2eff58"]]},{"id":"451c340d.7b203c","type":"inject","z":"6fa7a83c.4a4d38","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"I got work to do","payloadType":"str","x":320,"y":480,"wires":[["39828792.2eff58"]]},{"id":"923c075c.2b0558","type":"inject","z":"6fa7a83c.4a4d38","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"you are looking awesome","payloadType":"str","x":350,"y":560,"wires":[["39828792.2eff58"]]},{"id":"ed80de75.538c4","type":"fileinject","z":"6fa7a83c.4a4d38","name":"","x":300,"y":100,"wires":[["1550b9e1.09ed76"]]},{"id":"1550b9e1.09ed76","type":"nlp train","z":"6fa7a83c.4a4d38","lang":"en","name":"","x":470,"y":120,"wires":[["b7b161cc.f1812"]]}]

