examples/qna_file.json
[{"id":"a59d6454.b6b238","type":"tab","label":"QnA File","disabled":false,"info":""},{"id":"b09c0ea8.1c89c","type":"file in","z":"a59d6454.b6b238","name":"","filename":"test.tsv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":540,"y":340,"wires":[["c6050021.da0ac"]]},{"id":"ac538372.f972d","type":"inject","z":"a59d6454.b6b238","name":"Train from file","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":370,"y":340,"wires":[["b09c0ea8.1c89c"]]},{"id":"325a645d.f9751c","type":"fileinject","z":"a59d6454.b6b238","name":"","x":360,"y":240,"wires":[["4537e9b7.374b38"]]},{"id":"4537e9b7.374b38","type":"file","z":"a59d6454.b6b238","name":"","filename":"test.tsv","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":540,"y":240,"wires":[[]]},{"id":"8f0f21bf.ed1bb","type":"debug","z":"a59d6454.b6b238","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":580,"wires":[]},{"id":"84a46e7d.78a6a","type":"inject","z":"a59d6454.b6b238","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"you are looking awesome","payloadType":"str","x":410,"y":500,"wires":[["d577406d.97532"]]},{"id":"67653ada.357c94","type":"nlp","z":"a59d6454.b6b238","utterance":"who are you","lang":"en","name":"","x":700,"y":420,"wires":[["8f0f21bf.ed1bb"]]},{"id":"d577406d.97532","type":"nlp","z":"a59d6454.b6b238","utterance":"","lang":"en","name":"","x":690,"y":500,"wires":[["8f0f21bf.ed1bb"]]},{"id":"88f6bc76.40493","type":"nlp","z":"a59d6454.b6b238","utterance":"","lang":"en","name":"","x":690,"y":600,"wires":[["8f0f21bf.ed1bb"]]},{"id":"cfd8c124.e24ef","type":"inject","z":"a59d6454.b6b238","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Where do you come from?","payloadType":"str","x":410,"y":600,"wires":[["88f6bc76.40493"]]},{"id":"8a25379a.8cad98","type":"nlp","z":"a59d6454.b6b238","utterance":"","lang":"en","name":"","x":690,"y":700,"wires":[["8f0f21bf.ed1bb"]]},{"id":"d759092.03144f8","type":"inject","z":"a59d6454.b6b238","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hello","payloadType":"str","x":350,"y":700,"wires":[["8a25379a.8cad98"]]},{"id":"15495325.1e25ad","type":"inject","z":"a59d6454.b6b238","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"I got work to do","payloadType":"str","x":380,"y":780,"wires":[["8a25379a.8cad98"]]},{"id":"845efd39.40062","type":"inject","z":"a59d6454.b6b238","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"you are looking awesome","payloadType":"str","x":410,"y":860,"wires":[["8a25379a.8cad98"]]},{"id":"c6050021.da0ac","type":"nlp train","z":"a59d6454.b6b238","lang":"en","name":"","x":690,"y":340,"wires":[[]]},{"id":"c7030108.a1c87","type":"inject","z":"a59d6454.b6b238","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"who are you","payloadType":"str","x":370,"y":420,"wires":[["67653ada.357c94"]]}]
